@model MinhasVendas.App.ViewModels.CarrinhoDeComprasViewModel

@{
    ViewData["Title"] = "Ordem de Compra Status";
}

    <div class="modal-header">
        <h5 class="modal-title">@ViewData["Title"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>     
    </div>    
    <div class="modal-body">    
        <vc:resumo></vc:resumo>
    </div>
    <div class="modal-footer">
        <div class="col-md-offset-2 col-md-10">                
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
    </div>


